 :root{
    --verde-acqua: #7FFFD4;
} 

body{
 overflow-y: hidden;
}

main{
    background-color: var(--verde-acqua);
}

.row{
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    width: 1160px;
    height: 1160px;
    visibility: hidden;
}

.active{
    visibility: visible;
}

.row > div{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
}

footer{
    line-height: 70px;
}